<section class="as-footer-section">
  <div class="container">
    <div class="as-footer-content">
      <h3>Copyright {{ copyRightName }} {{ currentYear }}.</h3>
      <div class="as-footer-socials">
        <a href="https://github.com/mnudevX" target="_blank">
          <img class="svg-img" src="../../assets/img/github-svg.svg" alt="" />
        </a>
        <a href="https://www.xing.com/profile/Manuel_Utzeri/cv" target="_blank">
          <img class="svg-img" src="../../assets/img/xing-svg.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
