<section class="as-process-section" id="process">
  <div class="container">
    <div class="grid">
      <div class="grid-item">
        <div class="row">
          <div class="as-timeline-heading">
            <h2>Unser Vorgehen</h2>
          </div>
          <div class="col">
            <div class="timeline">
              <div class="timeline__stepper">
                <div class="timeline__step is-active">
                  <img
                    class="timeline__icon timeline__icon--default"
                    src="../../../assets/img/timeline-icons/planning.svg"
                    alt="#"
                  />
                  <img
                    class="timeline__icon timeline__icon--active"
                    src="../../../assets/img/timeline-icons/planning.svg"
                    alt="#"
                  />
                  <p class="timeline__step-title">Planung</p>
                </div>

                <div class="timeline__step">
                  <img
                    class="timeline__icon timeline__icon--default"
                    src="../../../assets/img/timeline-icons/design.svg"
                    alt="#"
                  />
                  <img
                    class="timeline__icon timeline__icon--active"
                    src="../../../assets/img/timeline-icons/design.svg"
                    alt="#"
                  />
                  <p class="timeline__step-title">Design</p>
                </div>

                <div class="timeline__step">
                  <img
                    class="timeline__icon timeline__icon--default"
                    src="../../../assets/img/timeline-icons/development.svg"
                    alt="#"
                  />
                  <img
                    class="timeline__icon timeline__icon--active"
                    src="../../../assets/img/timeline-icons/development.svg"
                    alt="#"
                  />
                  <p class="timeline__step-title">Entwicklung</p>
                </div>
                <div class="timeline__step">
                  <img
                    class="timeline__icon timeline__icon--default"
                    src="../../../assets/img/timeline-icons/testing.svg"
                    alt="#"
                  />
                  <img
                    class="timeline__icon timeline__icon--active"
                    src="../../../assets/img/timeline-icons/testing.svg"
                    alt="#"
                  />
                  <p class="timeline__step-title">Testing</p>
                </div>
                <div class="timeline__step">
                  <img
                    class="timeline__icon timeline__icon--default"
                    src="../../../assets/img/timeline-icons/rocket.svg"
                    alt="#"
                  />
                  <img
                    class="timeline__icon timeline__icon--active"
                    src="../../../assets/img/timeline-icons/rocket.svg"
                    alt="#"
                  />
                  <p class="timeline__step-title">Deployment</p>
                </div>
                <div class="timeline__step">
                  <img
                    class="timeline__icon timeline__icon--default"
                    src="../../../assets/img/timeline-icons/happy.svg"
                    alt="#"
                  />
                  <img
                    class="timeline__icon timeline__icon--active"
                    src="../../../assets/img/timeline-icons/happy.svg"
                    alt="#"
                  />
                  <p class="timeline__step-title">Happy Customer</p>
                </div>
              </div>

              <div class="timeline__slides">
                <div class="timeline__slide">
                  <h3 class="timeline__slide-title">Planung</h3>
                  <div class="timeline__slide-content">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Eaque, quas. Suscipit eos repellat, nostrum, quam impedit
                      natus dolores voluptas iste aut fuga voluptatum!
                      Reprehenderit unde iusto repellendus ipsa ab maiores.
                    </p>
                  </div>
                </div>

                <div class="timeline__slide">
                  <h3 class="timeline__slide-title">Design</h3>
                  <div class="timeline__slide-content">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Debitis earum doloribus ab nam et ipsa, numquam dicta
                      ipsam neque fugiat facilis sequi sint dolorum officia ut
                      optio. Provident, dolorem nesciunt?
                    </p>
                  </div>
                </div>

                <div class="timeline__slide">
                  <h3 class="timeline__slide-title">Entwicklung</h3>
                  <div class="timeline__slide-content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Recusandae porro pariatur voluptates? Omnis reprehenderit
                      inventore dolorem assumenda soluta neque quod! Dignissimos
                      odio placeat, perferendis commodi eaque earum mollitia ut
                      a!
                    </p>
                  </div>
                </div>

                <div class="timeline__slide">
                  <h3 class="timeline__slide-title">Testing</h3>
                  <div class="timeline__slide-content">
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Porro tempora eos vero saepe repudiandae ea qui inventore.
                      Maxime nulla iusto ex pariatur. Quisquam, molestiae. Illum
                      rerum culpa similique fugit dolorem?
                    </p>
                  </div>
                </div>

                <div class="timeline__slide">
                  <h3 class="timeline__slide-title">Deployment</h3>
                  <div class="timeline__slide-content">
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                      Ullam voluptatibus repellendus similique deleniti, ipsam
                      sapiente laborum perspiciatis dignissimos quas nostrum
                      necessitatibus ipsa nisi. Illum modi cum repellendus, fuga
                      ut possimus.
                    </p>
                  </div>
                </div>

                <div class="timeline__slide">
                  <h3 class="timeline__slide-title">Happy Customers</h3>
                  <div class="timeline__slide-content">
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                      Omnis dolorem, laboriosam accusantium ipsa nemo quas
                      labore similique sapiente magni voluptates soluta in a,
                      vero asperiores reprehenderit provident, dignissimos
                      corporis doloremque.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
