<section class="as-about-section" id="about">
  <div class="container">
    <div class="grid">
      <div class="grid-item">
        <div class="row row-gap-3">
          <div class="as-about-heading">
            <h2>Über uns</h2>
          </div>
          <div class="col-lg-6 d-flex align-items-center">
            <div class="as-text-box">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                fugiat officia quam voluptates numquam quae consequuntur quo.
                Ratione molestias consequuntur enim ducimus? Molestias sed ipsa
                numquam magnam optio fugiat dicta.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="as-img-box">
              <img src="../../../assets/img/web-development.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
