:root {
  --mainWhite: #fff;
  --mainBlack: #333;
  --mainColor: #151236;
  --mainColor2: #4706ff;
  --scrollBar: #151236;
  --hover: #4706ff;
  --transition-default: ease-in-out 0.3s;
  --boxShadow: inset 0 0 20px 3px
    linear-gradient(to bottom right, #9b0693, #4806ff);
  --second-boxShadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.12);

  //slider
  --color-accent-light: #9b0693;
  --color-accent-dark: #4806ff;
  --color-secondary: #fff;

  --border-color-default: var(--color-secondary);
  --border-color-accent: var(--color-accent-dark);

  --bg-color-default: #fff;
  --bg-color-dark: #2c2c2c;
  --bg-color-accent--lignt: var(--color-accent-light);
  --bg-color-accent--dark: var(--color-accent-dark);

  --transition-duration: 0.2s;
  --transition-timing-function: linear;
  --transition-delay: 0s;

  --negative-multiplier: -1;

  --gradient-default: linear-gradient(
    122deg,
    var(--color-accent-light) 0%,
    var(--color-accent-dark) 100%
  );
}

body {
  background-color: var(--mainColor) !important;
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 28px;
  }
}
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 18px;
  background-color: var(--scrollBar);
  border: 1px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollBar);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 25px;
  width: 100%;
}

.grid-item {
  grid-column: span 12;
  position: relative;
}

.container {
  width: 1140px !important;
}

//#######################

//reusable btn
.btn {
  margin-top: 1rem;
  transition: var(--transition-default);
  &.as-btn-style {
    font-weight: 600;
    border: 3px solid var(--mainWhite);
    border-radius: 999px;
    color: var(--mainWhite);
    box-shadow: unset;
    background: transparent;
    padding: 12px 33px;
    margin-right: 15px;

    &:hover,
    &:focus {
      color: var(--mainBlack);
      background-color: var(--mainWhite);
      box-shadow: var(--boxShadow);
    }
  }
}
//hero
.as-hero-section {
  .as-hero-banner {
    background-image: url(../../demo-one/src/assets/img/shape.jpg);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }

  .as-hero-content {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-items: center;

    row-gap: 30px;
    height: 100vh;
    .as-text-side {
      max-width: 470px;
      h1 {
        font-size: 56px;
        color: var(--mainWhite);
      }

      p {
        font-size: 32px;
        color: var(--mainWhite);
      }
    }
    .as-img-side {
      img {
        width: 350px;
        height: 350px;
        animation: moveUpAndDown 5s ease-in-out infinite;
      }

      @keyframes moveUpAndDown {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-80px);
        }
      }
    }
  }
}

//about
.as-about-section {
  padding: 8rem 0;

  .as-about-heading {
    h2 {
      font-size: 48px;
      text-transform: uppercase;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: linear-gradient(25deg, #2600fc, #ff00ea);
      color: transparent;
    }
  }

  .as-text-box {
    margin-top: 1rem;

    p {
      font-size: 18px;
      color: var(--mainWhite);
    }

    background-color: #4706ff;
    border-radius: 0 18px 18px 0;
    padding: 1rem;
    transition: var(--transition-default);
    border-left: 5px solid var(--mainWhite);

    &:hover {
      box-shadow: var(--boxShadow);
      transform: scale3d(1.01, 1.01, 1.01);
      backface-visibility: hidden;
      -webkit-font-smoothing: subpixel-antialiased;
    }
  }

  .as-img-box {
    img {
      width: 100%;
    }
  }
}

//process
.as-process-section {
  padding: 8rem 0;

  .as-timeline-heading {
    margin-bottom: 3rem;
    h2 {
      font-size: 48px;
      text-transform: uppercase;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: linear-gradient(25deg, #2600fc, #ff00ea);
      color: transparent;
    }
  }

  .timeline {
    --wrapper-width: 900px;
    height: auto;
    width: 100%;
    max-width: var(--wrapper-width);
    margin: 0 auto;
  }

  .timeline__stepper {
    --step-border-width: 3px;
    --offset-to-slider-content: 30px;

    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: var(--offset-to-slider-content);
  }

  @media (min-width: 530px) {
    .timeline__stepper {
      display: flex;
      justify-content: space-around;
      gap: 0;
    }
  }

  @media (min-width: 700px) {
    .timeline__stepper {
      --offset-to-slider-content: 50px;
    }
  }

  .timeline__step {
    position: relative;
    width: 100%;
    cursor: pointer;

    p {
      color: var(--mainWhite);
    }
  }

  @media (min-width: 530px) {
    .timeline__step {
      width: 100%;
    }
  }

  .timeline__icon {
    --timeline-icon-dimensions: 45px;

    position: relative;
    display: block;
    width: var(--timeline-icon-dimensions);
    max-height: var(--timeline-icon-dimensions);
    height: auto;
    margin: 0 auto;
    transition: opacity var(--transition-duration)
      var(--transition-timing-function) var(--transition-delay);
  }

  @media (min-width: 700px) {
    .timeline__icon {
      --timeline-icon-dimensions: 60px;

      margin-bottom: 30px;
    }
  }

  .timeline__icon--active {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }

  .timeline__step-title {
    --timeline-dot-dimensions: 12px;
    --extra-offset-fox-pixelperfect: -1px;

    position: relative;
    display: none;
    padding-top: 30px;
    margin-bottom: 0;
    text-align: center;
    line-height: 1.7;
    border-top: var(--step-border-width) solid var(--border-color-default);

    &:before,
    &:after {
      position: absolute;
      top: var(--dot-top-position);
      left: 50%;
      display: none; //set block to make visible again
      width: var(--timeline-dot-dimensions);
      height: var(--timeline-dot-dimensions);
      content: "";
      border-radius: 50%;
    }
  }

  .timeline__step-title:before {
    --dot-top-position: calc(
      var(--timeline-dot-dimensions) / 2 * var(--negative-multiplier) +
        var(--extra-offset-fox-pixelperfect)
    );

    transform: translate(-50%);
    border: 2px solid var(--border-color-default);
    border-radius: 50%;
    background-color: #fff;
    z-index: 5;
  }

  .timeline__step-title:after {
    --timeline-dot-dimensions: 25px;
    --dot-top-position: calc(
      var(--timeline-dot-dimensions) / 2 * var(--negative-multiplier) +
        var(--extra-offset-fox-pixelperfect)
    );

    transform: translate(-50%) scale(0);
    border-radius: 50%;
    background-color: #fff;
  }

  @media (min-width: 700px) {
    .timeline__step-title {
      display: block;
    }
  }

  .timeline__step-active-marker {
    --slide-pos-y: none; // calcs on the fly in js
    --slide-pos-x: none;
    --slide-width: auto;

    --transition-timing-function: cubic-bezier(0, 0, 0, 1.2);

    position: absolute;
    top: var(--slide-pos-y);
    left: 0;
    display: none;
    width: var(--slide-width);
    height: var(--step-border-width);
    transform: translateX(var(--slide-pos-x));
    transition: transform var(--transition-duration)
      var(--transition-timing-function) var(--transition-delay);
    background-image: var(--gradient-default);
  }

  @media (min-width: 700px) {
    .timeline__step-active-marker {
      display: block;
    }
  }

  .timeline__icon.timeline__icon--default.is-active {
    background-color: #2600fc;
  }

  .timeline__step.is-active {
    cursor: default;
  }

  .timeline__step.is-active .timeline__step-title {
    font-weight: 700;
    font-size: 20px;
  }

  .timeline__step.is-active .timeline__step-title:before {
    transition: background-color var(--transition-duration)
      var(--transition-timing-function) var(--transition-delay);
    background-color: var(--color-accent-dark);
    border-color: var(--border-color-accent);
  }

  .timeline__step.is-active .timeline__step-title:after {
    transform: translate(-50%) scale(1);
    transition: transform var(--transition-duration)
      var(--transition-timing-function) var(--transition-delay);
    background-image: var(--gradient-default);
    opacity: 0.25;
  }

  .timeline__step.is-active .timeline__icon--default,
  .timeline__step:not(.is-active):hover .timeline__icon--default {
    opacity: 1;
  }

  .timeline__step.is-active .timeline__icon--active,
  .timeline__step:not(.is-active):hover .timeline__icon--active {
    opacity: 1;
    background-color: #fff;
    --decoration-blur-spread: 30px;
    filter: blur(var(--decoration-blur-spread));
    border-radius: 999px;
    padding: 7px;
  }

  .timeline__slides {
    --slides-container-height: 0px;

    --content-offset-x: 20px;
    --content-offset-y: 30px;

    --decoration-blur-spread: 20px;
    --decoration-opacity: 0.7;
    --decoration-pos-x: 0;
    --decoration-pos-y: 20px;
    --decoration-scale: 1;

    position: relative;
    width: 500px;
    max-width: 100%;
    margin: auto;
    height: var(--slides-container-height);
    border-radius: 18px;
    background-color: var(--mainColor2);

    h3,
    p {
      color: var(--mainWhite);
      font-weight: 600;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      opacity: var(--decoration-opacity);
      background-image: var(--gradient-default);
      filter: blur(var(--decoration-blur-spread));
      transform: translate3d(
          var(--decoration-pos-x),
          var(--decoration-pos-y),
          0
        )
        scale(var(--decoration-scale));
      z-index: -1;
    }
  }

  @media (min-width: 700px) {
    .timeline__slides {
      --content-offset-x: 30px;
      --content-offset-y: 40px;
    }
  }

  .timeline__slide {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--content-offset-y) var(--content-offset-x);
    opacity: 0;
    visibility: hidden;
  }

  .timeline__slide.is-active {
    transition: opacity var(--transition-duration)
      var(--transition-timing-function) var(--transition-delay);
    opacity: 1;
    visibility: visible;
  }

  .timeline__slide-title {
    margin-top: 0;
  }

  .timeline__slide-content {
    line-height: 1.4;
  }

  .timeline__slide-content p:first-child {
    margin-top: 0;
  }

  .timeline__slide-content p:last-child {
    margin-bottom: 0;
  }
}

//services
.as-services-section {
  padding: 8rem 0;

  .as-service-heading {
    h2 {
      font-size: 48px;
      text-transform: uppercase;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: linear-gradient(25deg, #2600fc, #ff00ea);
      color: transparent;
    }
  }

  .as-col-box {
    background-color: #4706ff;
    border-radius: 18px;
    padding: 1.5em;
    transition: ease-in-out 0.2s;

    &:hover {
      box-shadow: var(--boxShadow);
      transform: translateY(-5px);
      transform: scale3d(1.01, 1.01, 1.01);
      backface-visibility: hidden;
      -webkit-font-smoothing: subpixel-antialiased;
    }

    .as-cta-box {
      h3 {
        color: var(--mainWhite);
      }
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 35px;
        height: 35px;
      }
    }

    .as-p-content {
      margin-top: 0.75rem;
      color: var(--mainWhite);
    }
  }
}

//media queries
@media only screen and (max-width: 767px) {
  .as-process-section {
    height: auto;

    .as-timeline-heading {
      text-align: center;
    }
  }

  .as-about-section {
    height: auto;

    .as-about-heading {
      text-align: center;
    }
  }

  .as-hero-section .as-hero-content {
    background-position: 50%;
    height: auto;

    flex-direction: column-reverse;
    text-align: center;

    .as-img-side {
      margin-top: 7rem;
      img {
        width: 100%;
      }
    }
  }

  .container {
    width: 100% !important;
  }
}

@media only screen and (max-width: 900px) {
  .as-hero-section .as-hero-content {
    height: 100vh;

    flex-direction: column-reverse;
    text-align: center;
  }

  .as-about-heading,
  .as-timeline-heading {
    text-align: center;
  }
}
