<section class="as-services-section" id="services">
  <div class="container">
    <div class="grid">
      <div class="grid-item">
        <div class="row g-2 row-gap-3">
          <div class="as-service-heading">
            <h2>Services</h2>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="as-col-box">
              <div class="as-cta-box">
                <h3>Webentwicklung</h3>
                <img src="../../../assets/img/box-icons/code-icon.svg" alt="" />
              </div>
              <div class="as-p-content">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Accusantium quod recusandae laborum rerum impedit totam eos
                  vero praesentium similique, et, ipsum minus reprehenderit
                  cumque iure optio corporis esse, delectus reiciendis.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="as-col-box">
              <div class="as-cta-box">
                <h3>Hosting</h3>
                <img
                  src="../../../assets/img/box-icons/firebase-icon.svg"
                  alt=""
                />
              </div>
              <div class="as-p-content">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Accusantium quod recusandae laborum rerum impedit totam eos
                  vero praesentium similique, et, ipsum minus reprehenderit
                  cumque iure optio corporis esse, delectus reiciendis.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="as-col-box">
              <div class="as-cta-box">
                <h3>Wartung</h3>
                <img
                  src="../../../assets/img/box-icons/settings-icon.svg"
                  alt=""
                />
              </div>
              <div class="as-p-content">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Accusantium quod recusandae laborum rerum impedit totam eos
                  vero praesentium similique, et, ipsum minus reprehenderit
                  cumque iure optio corporis esse, delectus reiciendis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
